name: Multiplatform Build with Runners

# This action isn't enabled by default as it requires an arm runner
# If you have an arm runner, set it in "runs-on" on in the armbuild job

on:
#  push:
  workflow_dispatch:

jobs:
  armbuild:
    runs-on: [linux-arm-for-testing]
    permissions:
      id-token: write
      attestations: write
      contents: read
      packages: write
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-runner
          tags: |
            type=raw,arm-${{ github.RUN_ID }}
          labels: |
            org.opencontainers.image.description=Demo Arm Runner
      -
        id: build
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: Dockerfile
          platforms: linux/arm64
          push: true
          sbom: true
          provenance: mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      -
        name: Attest
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v1
        id: attest
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-runner
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true

  x86build:
    runs-on: [ubuntu-latest-2-cores-testing]
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    permissions:
      id-token: write
      attestations: write
      contents: read
      packages: write
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-runner
          tags: |
            type=raw,x86-${{ github.RUN_ID }}
          labels: |
            org.opencontainers.image.description=Demo X86 Runner
      -
        id: build
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          file: Dockerfile
          platforms: linux/amd64
          push: true
          sbom: true
          provenance: mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      -
        name: Attest
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v1
        id: attest
        with:
          subject-name: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-runner
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true

  manifest:
    permissions:
     id-token: write
     attestations: write
     packages: write
    needs: [x86build, armbuild]
    runs-on: ubuntu-latest
    steps:
      -
        name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Install crane
        uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4
      -
        name: Create, Push and Sign Multi-Platform Manifest
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-runner
          X86DIGEST=$(crane digest --platform linux/amd64 ${IMAGE}@${{ needs.x86build.outputs.digest }})

          ARMDIGEST=$(crane digest --platform linux/arm64 ${IMAGE}@${{ needs.armbuild.outputs.digest }})
          docker manifest create ${IMAGE}:multi-${{ github.RUN_ID }} \
            ${IMAGE}@$X86DIGEST \
            ${IMAGE}@$ARMDIGEST

          MULTIDIGEST=$(docker manifest push ${IMAGE}:multi-${{ github.RUN_ID }})
          cosign sign -r --yes ${IMAGE}@$MULTIDIGEST

